{{ " " }}
<div class="tolink" data-style="{{ include.style }}" 
     {% if include.link %}
     onclick="window.location.href='{{ include.link | relative_url }}'" 
     style="cursor: pointer;"
     {% endif %}>
  <div class="tolink-image">
    <img
      src="{{ include.image | relative_url }}"
      alt="{{ include.title | default: "tolink image" }}"
      loading="lazy"
      {% include fallback.html %}
    >
  </div>

  <div class="tolink-text">
    {% if include.title %}
      <span 
        {% if include.tooltip %}
          data-tooltip="{{ include.tooltip }}"
        {% endif %}
        class="tolink-title"
      >
        {{ include.title }}
      </span>
    {% endif %}

    {% if include.subtitle %}
      <span class="tolink-subtitle">{{ include.subtitle }}</span>
    {% endif %}

    {% if include.description %}
      <p>
        {{ include.description | markdownify | remove: "<p>" | remove: "</p>" }}
      </p>
    {% endif %}

    {% if include.tags or include.repo %}
      {% include tags.html tags=include.tags repo=include.repo %}
    {% endif %}
  </div>
</div>
    